body {
     background-color : gray;  /**/
}

h1 {
   font-family: Arial;
 
}

p {
    border-width: 6px;
    border-style: solid;
    border-color: green;
}

#prof {color: white;}


.special {

   border: 3px  dashed orange

}
