p {
	margin-left: 15px; 
	padding:1.5em;
	}

h3 {
	color: #f00;
	}

a {
	color : #cc33ff; /*muda a cor do link*/
	text-decoration: none; /*remove o link sublinhado*/
}


a: hover {  /*aplica quando o mouse por cima*/
	color: #ff6600; 
	text-decoration: underline; /*muda a cor do link*/
	font-size: 50px;
}
h2 {
	background-color: red;
}

.imagemfundo{
background-image:url(papaeldeparede.jpg);
}
.linha2 {
	text-align: right;

}
.coluna{

}
table{
width: 40%;
font-family: verdana;
border-collapse: collapse;
}