table {
	border-collapse: collapse;
	text-align: center;
	width: 50%;
}

th, td {
	border: 2px solid #FFFFFF ; /*BORDA BRANCA*/
	padding: 20px;
}
th{
	background-color: #0D9CFA; /*COR DE FUNDO CO CABEÇALHO*/
}

td{
   background-color: green; /*COR DE FUNDO DA LINHAS*/
}

.titulo {
	background-color: gray;
}

.bordaimg {
	
	padding: 2px;
	background-color: silver;
	width: 30%;
}

.tabela2 {
     border-collapse: collapse;
	text-align: center;
	width: 5%;

}